Formação Cientista de Dados - Fernando Amaral e Jones Granatyr
Limpeza e tratamento de dados

In [12]:
import pandas as pd
import seaborn as srn
import statistics  as sts

In [13]:
tempo = pd.read_csv("tempo.csv", sep=';')
tempo.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [14]:
# VISUALIZAÇÃO
agrupado = tempo.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [15]:
tempo.loc[(tempo['Aparencia'] == "menos") | (
    tempo["Aparencia"].isnull()), "Aparencia"] = "sol"

In [16]:
# VISUALIZAÇÃO
agrupado = tempo.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

In [17]:
# VISUALIZAÇÃO
tempo["Aparencia"].isna().sum()

np.int64(0)

In [18]:
# VISUALIZAÇÃO
tempo["Temperatura"].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [19]:
tempo.loc[(tempo["Temperatura"] < 0) | (tempo["Temperatura"] > 130), "Temperatura"] = tempo["Temperatura"].median()

C:\Users\pablo\AppData\Local\Temp\ipykernel_17628\1849353377.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '73.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  tempo.loc[(tempo["Temperatura"] < 0) | (tempo["Temperatura"] > 130), "Temperatura"] = tempo["Temperatura"].median()

In [20]:
# VISUALIZAÇÃO
tempo["Temperatura"].describe()

count    14.000000
mean     73.678571
std       6.556286
min      64.000000
25%      69.250000
50%      72.750000
75%      78.750000
max      85.000000
Name: Temperatura, dtype: float64

In [21]:
# VISUALIZAÇÃO
tempo["Umidade"].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [22]:
tempo.loc[(tempo["Umidade"] < 0) | (tempo["Umidade"] > 100) | (tempo["Umidade"].isnull()), "Umidade"] = tempo["Umidade"].median()

In [23]:
# VISUALIZAÇÃO
tempo["Umidade"].describe()

count    14.000000
mean     81.214286
std       9.552918
min      65.000000
25%      71.250000
50%      85.000000
75%      89.000000
max      95.000000
Name: Umidade, dtype: float64

In [24]:
tempo.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          1
Jogar          0
dtype: int64

In [25]:
tempo.loc[(tempo["Vento"].isnull()), "Vento"] = "FALSO"

In [26]:
tempo["Vento"].value_counts()

Vento
FALSO         8
VERDADEIRO    6
Name: count, dtype: int64

In [27]:
tempo["Vento"].isnull().sum()

np.int64(0)